body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    margin: 0px;
}

.sidebar {
    display: grid;
    grid-template-rows: 3rem 1.5rem repeat(6, 3rem) 1.5rem repeat(3, 3rem);

    background-color: #334155;
    color: white;
    font-size: 1.5rem;

    div {
        align-content: center;
        align-items: center;
        display: flex;
    }
    img {
        height: 1.6rem;
        width: auto;
        margin: 0px 1.3rem 0px 1.3rem;
    }
    .dashboard {
        font-size: 1.8rem;
        margin-top: 1rem;
        img {
            height: 2.3rem;
            width: auto;
        }
    }
}

.main-menu {
    display: grid;
    grid-template-rows: 1fr 1fr repeat(4, 1fr);
}

.header {
    background-color: #fafaf9;
    .search-bar {
        display: flex;
        align-content: center;
        margin: 1.5rem 0rem 0rem 2.5rem;

        img {
            height: 1.5rem;
            width: auto;
            margin-right: 0.5rem;
        }
        form {
            display: inline;
            margin-right: 13vw;
            input {
                width: 40vw;
                height: 1.6rem;
                background-color: #e2e8f0;
                border-radius: 15px;
                border: 0px;
            }
        }
        .right-icons {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-right: 2rem;
            p {
                margin: 0px;
                font-weight: 800;
                font-size: 1.4rem;
            }
        }
    }
}

.content {
    background-color: #e2e8f0;
    grid-row: 2 / 7;
}